---
layout: default.hbs
subject: Activist Monitor - Single Alert Email
---

<table class="main">
    <tr>
        <td>
            <table>
                <tr>
                    <td class="primary-header">
                        <h1 class="primary-header__content"><a href="\{{homepage_url}}\{{google_analytics_tracking}}"><img
                                src="http://s3-eu-west-1.amazonaws.com/notifications-assembler/img/activistmonitor-logo.png"/></a>
                        </h1>
                    </td>
                </tr>

                <tr>
                    <td class="secondary-header">
                        intelligence alert
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
            </table>

            <table class="intelligence">
                <tr>
                    <td class="intelligence__headline" colspan="2">
                        <a href="\{{article_link}}\{{google_analytics_tracking}}">\{{headline}}</a>
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
                <tr>
                    <td class="intelligence__proprietary">
                        <table>
                            \{{#if isProprietary}}
                            <tr class="intelligence__prop">
                                <td class="intelligence__prop-image"><img src="http://s3-eu-west-1.amazonaws.com/notifications-assembler/img/Prop-Icon-20x20.png"></img></td>
                                <td class="intelligence__prop-text">Proprietary</td>
                            </tr>
                            \{{/if}}
                        </table>
                    </td>
                    <td class="intelligence__date">
                        \{{publishDate}}
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
                <tr>
                    <td class="intelligence__link" colspan="2">
                        <a href="\{{article_link}}\{{google_analytics_tracking}}">Read full article</a>
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
            </table>

            <table class="teaser">
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
                <tr>
                    <td class="teaser__content" colspan="4">
                        Activistmonitor provides data, intelligence &amp; insight into Activist behaviour,
                        Campaigns &amp; Filings. For
                        example you can filter by a specific activist &amp; identify the number of types of
                        filings to date.
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
                <tr>
                    <td class="teaser__link">
                        <a href="\{{explore_intel_link}}\{{google_analytics_tracking}}">Explore Intelligence</a>
                    </td>
                    <td class="teaser__link">
                        <a href="\{{explore_campaigns_link}}\{{google_analytics_tracking}}">Explore Campaigns</a>
                    </td>
                    <td class="teaser__link">
                        <a href="\{{explore_activists_link}}\{{google_analytics_tracking}}">Explore Activists</a>
                    </td>
                    <td class="teaser__link">
                        <a href="\{{explore_filings_link}}\{{google_analytics_tracking}}">Explore Filings</a>
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
            </table>

            <table class="contact-info">
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <h3 class="secondary-header">For help and support</h3>
                        <p class="contact-info__description">
                            Contact your CRM Consultant on <a href="tel:00441234567890">+44 1234567890</a> or
                            email <a href="mailto:help@activistmonitor.com">help@activistmonitor.com</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <h3 class="secondary-header">To Contact Editorial</h3>
                        <p class="contact-info__description">Lucinda Guthrie, Editor, <a href="tel:00441234567890">+44
                            1234567890</a> <a
                                href="mailto:lucinda.guthrie@activistmonitor.com">lucinda.guthrie@activistmonitor.com</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="row-spacer">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <p class="contact-info__description">IMPORTANT: This e-mail contains information protected by
                            copyright which can only
                            be used in accordance with the terms of your Activistmonitor subscription
                            agreement. You must not therefore copy or forward this e-mail, its contents, or
                            any contents on the password-protected Activistmonitor website to anyone who is
                            not an employee of the subscriber organisation. (Your subscription agreement
                            explains how you can use contents for reports and presentations.) UNAUTHORISED
                            USE OR DISCLOSURE IS UNLAWFUL.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="footer">
    <tr>
        <td class="align-center">
            <p class="footer__content"><a href="{{ default.unsubscribe_url }}">
                <unsubscribe>Unsubscribe</unsubscribe>
            </a>
            </p>
        </td>
    </tr>
</table>

