---
layout: default.hbs
subject: You've been made an administrator of {{org.name}} 
---
<span class="preheader">You've been made an administrator of \{{org.name}} on the new NKBA.org</span>
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <a href="\{{WEB_URL}}"><img class="logo" border="0" src="https://media.nkba.org/img/nkba-logo@2x.png" alt="NKBA" height="30" width="141"></a>
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4 pt1 " valign="top">
                      \{{name}},
                    </td>
                </tr>
                
                <tr>
                    <td class="content-block text-4" valign="top">
                       You have been given to administrative access of \{{org.name}} within the NKBA. This gives the ability manage your organization's profile, membership information, billing, employees, and branches.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       If you believe this change was made in error, please call the NKBA Member Relations team at 1-800-THE-NKBA or send an email to <a href="mailto:info@nkba.org">info@nkba.org</a>. 
                    </td>
                </tr>
                 <tr>
                    <td class="content-block text-4" valign="top">
                      Thank you,<br>
                      The NKBA
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
