---
layout: unstyled.hbs
subject: Reset Your Password
---

<h1 class="text-2">Reset your password</h1>

\{{name}},<br/><br/>

You're receiving this email because you requested a password reset from the NKBA. Please click on the link below to reset your password.<br/><br/>
 
<a href="\{{WEB_URL}}/reset/\{{token}}">\{{WEB_URL}}/reset/\{{token}}</a><br/><br/>


If you did not make this request, please notify us by sending an email to <a href="mailto:info@nkba.org">info@nkba.org</a><br/><br/><br/>
