---
layout: default.hbs
subject: Reset Your Password
---
<span class="preheader">You're receiving this email because you requested a password reset</span>
<table class="main">
  <tr>
    <td class="wrapper">
      <table width="100%">
          <tr>
              <td class="content-block align-center" valign="top" align="center">
                  <img class="align-center" src="\{{WEB_URL}}/nkba-logo@2x.png" alt="NKBA Logo"
                        height="40px">
              </td>
          </tr>

          <tr>
              <td class="content-block align-center" valign="top">
                  <h1 class="h2">Reset your password</h1>
              </td>
          </tr>

          <tr>
              <td class="content-block" valign="top">
                  \{{name}},
              </td>
          </tr>

          <tr>
              <td class="content-block" valign="top">
                  You're receiving this email because you requested a password reset from the <a href="\{{WEB_URL}}">NKBA</a>.<br/>
              </td>
          </tr>
          <tr>
              <td class="content-block align-center">
                  <a href="\{{WEB_URL}}/reset/\{{token}}">Click here to reset your password.</a>
              </td>
          </tr>
          <tr>
              <td class="content-block align-center">
                  If you did not make this request, please notify us at <a href="mailto:cloud@nkba.org">cloud@nkba.org</a>.
              </td>
          </tr>
         
          
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
         This message was sent to <a href="mailto:\{{email}}">\{{email}}</a> at your request.<br/>
        The National Kitchen and Bath Association<br/>
        687 Willow Grove St<br/>
        Hackettstown, NJ 07840
      </td>
    </tr>
  </table>
</div>
