---
layout: default.hbs
subject: Announcing the biggest NKBA member benefit ever!
---
<span class="preheader">As a valued NKBA Member, we’re excited to offer you a free member profile on the new NKBA.org.</span>
<table class="header" align="center"  width="100%" cellspacing="0" cellpadding="0" bgcolor="#FDFDFE"  border="0">
    <tr>
        <td class="wrapper border-bottom" valign="middle">
            <img class="logo" border="0" src="\{{WEB_URL}}/nkba-logo@2x.png" alt="NKBA" height="30" width="141">
        </td>
    </tr>
</table>
<table class="main" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="wrapper">
            <table width="100%">
                <tr>
                    <td class="content-block text-4 pt1 " valign="top">
                       <h2 class="bold">Announcing the biggest NKBA member benefit ever!</h2>
                    </td>
                </tr>

                <tr>
                    <td class="content-block text-4" valign="top">
                       Dear \{{name}},
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       As a valued NKBA Member, we’re excited to offer you a free member profile on the new NKBA website. It's easy, just <a href="\{{WEB_URL}}/reset/\{{token}}">set your new password</a> and complete your profile to start growing your business, generating leads and connecting with customers.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       The new NKBA website has been designed to show off your business, produce the best possible search engine results, and help you take your career to the next level. It all starts with your completed profile, so please <a href="\{{WEB_URL}}/reset/\{{token}}">log-on today</a>.
                    </td>
                </tr>
                <tr>
                    <td class="content-block text-4" valign="top">
                       Questions? Our Member Services Team is here to support you. Please call 1-800-THE-NKBA (1-800-843-6522) or send an email to <a href="mailto:info@nkba.org">info@nkba.org</a>. 
                    </td>
                </tr>
                 <tr>
                    <td class="content-block text-4" valign="top">
                      Thank you,<br>
                      The NKBA
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
