<!DOCTYPE html>
<html lang="de">
  <head>
    {{#if subject}}
      <title>{{{subject}}}</title>
    {{/if}}
    <meta content="text/html; charset=us-ascii" http-equiv="content-type">
    <link href="../src/css/theme-k.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-primary">
    <table class="bg-primary" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top">
          <table border="0" class="bg-secondary" width="100%">
            <tr>
              <td valign="top">
                <table border="0" class="max-width" width="100%">
                  <tr>
                    <td class="font-family p-2" valign="top" width="92">
                      <span class="logo inline-block">
                        <img class="logo" border="0" alt="Logo" src="{{content.logo}}">
                      </span>
                    </td>
                    <td class="tagline font-family p-2" align="right" valign="top">
                      <small>"{{content.tagline}}"</small>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table border="0" width="100%" class="container">
            <tr>
              <td class="font-family text-color font-size lh-content center">
                <br>
                {{#if content.headline}}
                  <b class="artist color-primary bold">{{content.headline}}</b>
                  <br>
                {{/if}}
                {{#if content.subline}}
                  <span class="support color-primary bold">{{content.subline}}</span>
                  <br>
                {{/if}}
                <br>
                {{#if content.summary}}
                  <small class="color-quaternary italic">{{content.summary}}</small>
                  <br>
                  <br>
                  <br>
                {{/if}}
                {{#if content.location.title}}
                  <span class="location bold">{{content.location.title}}</span>
                  <br>
                {{/if}}
                {{#if content.location.address}}
                  {{{content.location.address}}} {{/if}}
                <br>
                <br>
                {{#if content.admission.date}}
                  <span class="date bold">{{content.admission.date}}</span>
                  <br>
                {{/if}}
                {{#if content.admission.time}}
                  {{{content.admission.time}}} <br>
                {{/if}}
                {{#if content.admission.date}}
                  {{{content.admission.fee}}} <br>
                {{/if}}
                <br>
              </td>
            </tr>
          </table>
          {{#if content.tickets.url}}
            <table border="0" width="100%" class="container">
              <tr>
                <td class="font-family text-color font-size lh-content center">
                  <a class="button color-primary border-primary uppercase bold" href="{{content.tickets.url}}" target="_blank">
                    {{content.tickets.title}}
                  </a>
                </td>
              </tr>
            </table>
            <br>
          {{/if}}
          <table border="0" width="100%" class="container">
            <tr>
              <td class="font-family text-color font-size lh-content">
                <br>
                {{body}}
                <br>
                <br>
              </td>
            </tr>
          </table>
          {{#if content.links.title}}
            <table border="0" width="100%" class="container">
              <tr>
                <td class="font-family text-color font-size lh-links">
                  {{#if content.links.title}}
                    <b>{{content.links.title}}</b>
                    <br>
                  {{/if}}
                  {{#each content.links.items}} &bull; <a href="{{url}}" url="_blank">{{title}}</a>
                    <br>
                  {{/each}}
                  <br>
                  <br>
                </td>
              </tr>
            </table>
          {{/if}}
        </td>
      </tr>
    </table>
    {{#if content.poster.url}}
      <table class="poster-wrap" border="0" width="100%">
        <tr>
          <td class="center" valign="top">
            <img class="poster img-responsive" width="320" alt="Poster" src="{{content.poster.url}}" border="0">
          </td>
        </tr>
      </table>
    {{/if}}
    {{#if content.facebook.url}}
      <table border="0" class="container bg-primary" width="100%" >
        <tr>
          <td class="font-family text-color font-size lh-content center">
            <br>
            <br>
            <br>
            <span class="facebook color-secondary">{{content.facebook.superscript}}</span>
            <br>
            <a class="button color-secondary border-secondary uppercase bold" href="{{content.facebook.url}}" target="_blank">
              {{content.facebook.title}}
            </a>
            <br>
            <br>
            <br>
            <br>
          </td>
        </tr>
      </table>
    {{/if}}
    {{#if footer.imprint}}
      <table border="0" class="container bg-primary" width="100%">
        <tr>
          <td class="font-family font-size lh-content center">
            <table border="0" class="font-family" width="100%">
              <tr>
                <td class="imprint font-family center">
                  <small>{{{footer.imprint}}}</small>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    {{/if}}
    </td>
    </tr>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="unsubscribe bg-tertiary font-family lh-content center">
          <small>{{{footer.unsubscribe}}}</small>
        </td>
      </tr>
    </table>
  </body>
</html>