<!DOCTYPE html>
<html lang="de">
  <head>
    {{#if subject}}
      <title>{{{subject}}}</title>
    {{/if}}
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <link href="../src/css/theme-k.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-primary">
    <table class="bg-primary" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td valign="top">
          <table border="0" class="bg-secondary" width="100%">
            <tr>
              <td valign="top">
                <table border="0" class="max-width" width="100%">
                  <tr>
                    <td class="font-family p-logo" valign="middle" width="92">
                      <span class="logo">
                        <img class="logo" border="0" alt="Logo" src="{{content.logo}}">
                      </span>
                    </td>
                    <td class="tagline font-family p-tagline" align="right" valign="middle">
                      <small>"{{content.tagline}}"</small>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table border="0" class="container max-width" width="100%">
            <tr>
              <td class="font-family color-text color-link font-size line-height center">
                <br>
                <br>
                {{#if content.headline}}
                  <b class="headline color-primary bold">{{content.headline}}</b>
                  <br>
                {{/if}}
                {{#if content.subline}}
                  <b class="subline color-primary bold">{{content.subline}}</b>
                  <br>
                {{/if}}
                <br>
                {{#if content.quote}}
                  <i class="quote color-quaternary"><small class="quote color-quaternary">{{content.quote}}</small></i>
                  <br>
                  <br>
                {{/if}}
                {{#if content.location.title}}
                  <span class="location bold">{{content.location.title}}</span>
                  <br>
                {{/if}}
                {{#if content.location.address}}
                  {{{content.location.address}}} {{/if}}
                <br>
                <br>
                {{#if content.admission.date}}
                  <span class="date bold">{{content.admission.date}}</span>
                  <br>
                {{/if}}
                {{#if content.admission.time}}
                  {{{content.admission.time}}} <br>
                {{/if}}
                {{#if content.admission.date}}
                  {{{content.admission.fee}}} <br>
                {{/if}}
                <br>
              </td>
            </tr>
          </table>
          {{#if content.tickets.url}}
            <table border="0" class="container max-width" width="100%">
              <tr>
                <td class="tickets font-family font-size line-height center">
                  <a class="button color-primary border-primary uppercase bold" href="{{content.tickets.url}}" target="_blank">
                    {{content.tickets.title}}
                  </a>
                </td>
              </tr>
            </table>
          {{/if}}
          <table border="0" class="container max-width" width="100%">
            <tr>
              <td class="font-family font-size color-text color-link line-height">
                <br>
                <br>
                {{body}}
                <br>
                <br>
              </td>
            </tr>
          </table>
          {{#if content.links.title}}
            <table border="0" class="container max-width" width="100%">
              <tr>
                <td class="font-family font-size color-text color-link">
                  {{#if content.links.title}}
                    <b>{{content.links.title}}</b>
                    <br>
                    <br>
                  {{/if}}
                  <ul class="list">
                  {{#each content.links.items}}
                    <li class="list-item">
                      <a href="{{url}}" url="_blank">{{title}}</a>
                    </li>
                  {{/each}}
                  </ul>
                  <br>
                  <br>
                </td>
              </tr>
            </table>            
          {{/if}}
        </td>
      </tr>
    </table>
    {{#if content.poster.url}}
      <table class="poster-wrap p-0" border="0" width="100%">
        <tr>
          <td class="poster font-family center p-0" valign="top">
            <img class="img-responsive" width="360" alt="Poster" src="{{content.poster.url}}" border="0">
          </td>
        </tr>
        {{#if content.poster.attribution}}
          <tr>
            <td class="poster font-family center py-2" valign="top">
              <small>{{content.poster.attribution}}</small>
            </td>  
          </tr>
        {{/if}}                
      </table>
    {{/if}}
    {{#if content.facebook.url}}
      <table border="0" class="container max-width bg-primary" width="100%">
        <tr>
          <td class="facebook font-family font-size line-height center pb-7">
            <br>
            <br>
            <span class="">{{content.facebook.superscript}}</span>
            <br>
            <a class="button border-link uppercase bold" href="{{content.facebook.url}}" target="_blank">
              {{content.facebook.title}}
            </a>
            <br>
            <br>
            <br>
          </td>
        </tr>
      </table>
    {{/if}}
    </td>
    </tr>
    </table>
    {{#if footer.imprint}}
      <table border="0" class="bg-tertiary" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="imprint font-family line-height center py-1">
            <small>{{{footer.imprint}}}</small>
          </td>
        </tr>
      </table>
    {{/if}}
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td class="unsubscribe font-family line-height center py-3">
          <small>{{{footer.unsubscribe}}}</small>
        </td>
      </tr>
    </table>
  </body>
</html>